<% @page_title = "会員情報の編集" %>

<h3><%= @page_title %></h3>

<p><%= link_to "会員の詳細に戻る", @member %></p>

<%= form_for @member do |form| %>
<%= render "form", form: form %>
<p><%= form.submit %></p>
<% end %>